.bg-dark-purple {
  background-color: #4B0082; /* Dark Purple */
}

.bg-dark-purple-dark {
  background-color: #3E006D; /* Slightly darker shade of purple for hover */
}

.border-dark-purple {
  border-color: #4B0082; /* Dark Purple */
}

.text-white {
  color: #FFFFFF;
}

.text-dark-blue {
  color: #003366; /* Dark Blue */
}

